	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

body, html {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 16px;
	font-weight: 100;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-top: -8px;
	position: relative;
}

h1, h2, h3, h4, h5 {
	font-weight: 200;
}	

a {
	text-decoration: none;
	outline: 0 !important;
}

a:active,a:focus {
outline: none !important;
}

.window {position:relative;top:0;width: 1200px;max-width: 100%;margin:0 auto;z-index: 50;}

$mainOrange: #F56D45;

.fuzzy {
	position: fixed; 
	top: 0; 
	left: 0; 
	background: rgba(0,0,0,0.6); 
	z-index: 5; 
	width: 100%; 
	height: 100%; 
	display: none; 
	span.closeThis {
		position: absolute;
		top: 0;	
		right: 10px;
		cursor: pointer;
		color: $mainOrange;
		font-size: 22px;
		font-weight: 700;
	}
}

.readMore {
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	width: 50%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 #303030;
	h2 {
		font-size: 20px;
	}
}

// ==========================================================================

// ==================================
// MAIN LANDING PAGE #WELCOME
// ==================================

#welcome {
	position: relative;
	background: url("images/test.png");
	background-size: cover;
	width: 100%;
	height: 100%;
}

#welcome:after {
	content:'';
	position:absolute;
	width:100%; 
	height:100%;
	top:0; 
	left:0;
	background:rgba(0,0,0,0.6);
	opacity: 0.8;
}

.mobile-menu {
	display: none;
}

.nav {
	width: 100%;
	z-index: 9999;
	position: fixed;
	h3 {
		display: inline-block;
		color: #fff;
		text-align: left;
		width: 20%;
		float: left;
		padding: 10px;
		margin: 0;
		font-weight: 500;
		span {
			border-bottom: 2px solid $mainOrange;
		}
	}
	ul {
		padding-right: 135px;
		text-align: right;
		width: 80%;
		float: right;
		margin-top: 24px;
		padding-bottom: 19px;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
		padding: 0 10px;
		margin: 0;
		z-index: 9999;
		text-transform: uppercase;
	}
	a {
		color: #fff;
		font-weight: 200;
		
		transition: all 0.4s ease;
		&:hover {
			color: $mainOrange;
		}
	}
}

.hide {
	display: none !important;
	transition: all 0.4s ease-in-out;
}
.switch {
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.4s ease-in-out;
	a {
		color: #fff;
	}
	h3 {
		color: #fff;
	}
}

.intro-wrap {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	color: #fff;
	line-height: 35px;
	z-index: 999;
		h1 {
			margin-top: 0;
			font-size: 2.5em;
			font-weight: 100;
				span {
					border-bottom: 4px solid $mainOrange;
				}
		}
		h2 {
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 0;
		}
		h3 {
			font-size: 1.5em;
			margin: 0;
		}
}

 // ==================================
 // ABOUT SECTION #ABOUT
 // ==================================

 #about {
 	overflow: auto;
 }

 .page-down {
 	display: inline-block;
 	position: absolute;
 	text-align: center;
 	bottom: 40px;
 	left: 50%;
 	margin-left: -20px;
 	z-index: 99999;
 	cursor: pointer;
 	color: #ffffff;
 	transition: all 0.2s ease;
 		&:hover {
 			bottom: 44px;
 		}
 }

 .wrapper {
 	width: 80%;
 	margin: 0 auto;
 	position: relative;
 }

 .me-pic {
 	float: left;
 	padding-top: 40px;
 	text-align: center;
 	width: 30%;
 		img {
 			border-radius: 50%;
 			border: 10px solid #eee;
 			width: 85%;
 		}
 }

 .info {
 	width: 66%;
 	float: left;
 	padding: 40px;
 	margin-left: 3%;
 	p {
 		font-size: 1.25em;
 	}
 	h2 {
 		font-size: 1.75em;
 	}
 	a {
 		display: inline-block;
 		padding: 10px;
 		text-transform: uppercase;;
 		margin-top: 10px;
 		background: $mainOrange;
 		color: #fff;
 		&:hover {
 			transition: all 0.4s ease;
 		}

 	}
 }

 .media {
 	position: absolute;
 	right: 0;
 	top: 110px;
 	li {
 		list-style-type: none;
 		padding: 10px 0;
 	}
 		a {
 			color: #000;
 			transition: all 0.2s ease;
 			&:hover {
 				color: $mainOrange;
 			}
 		}
 }

.res {
	display: inline-block;
	padding: 0;
	li {
		display: inline-block;
		padding: 0 5px;
		&:first-child {
			padding: 0;
		}
	}
}

// ==================================
// PORTFOLIO SECTION #PORTFOLIO
// ==================================

#portfolio{
	background: #EEEEEE;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.heading {
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
	font-weight: 500;
	margin-bottom: 0;
}
.group {
	background: #fff;	
	padding: 70px 0;
}

.secret {
	display: none;
	text-align: center;
	img {
		width: 70%;
		height: 50%;
	}

}
.group.grey {
	background: #EEEEEE;
}
.alt {
	display: block;
}
.side-special {
	width: 75%;
	margin: 0 auto;
	h1 {
		display: inline-block;
		line-height: 40px;
		color: #5a5a5a;
		font-size: 1.90em;
		font-weight: 300;
		margin-bottom: 0;
		span {
			color: #777;
		}
	}
	p {
		font-size: 21px;
		#color: #5a5a5a;
	}
	ul {
		padding-left: 0;
		li {
			display: inline-block;
			color: rgb(0, 0, 0);
			background: rgb(255, 255, 255);
			border: 1px solid #000;
			padding: 8px;
			text-transform: uppercase;
			transition: 0.4s all ease;
			&:hover {
				background: $mainOrange;
				color: #fff;
			}
		}
	}
	.button {
		width: 180px;
		background: $mainOrange;
		color: #fff;
		cursor: pointer;
		text-align: center;	
		transition: all 0.4s ease;
			a {
				text-transform: uppercase;
				width: 100%;
				height: 100%;
				color: #fff;
				display: block;
				padding: 10px;
				
			}
			&:hover {
				background: #343434;
			}
	}
}
.side {
	width: 46.969696969697%;
	margin: 0 1.515151515152%;
	float: left;
	position: relative;
		img {
			width: 75%;
			height: 50%;
		}
		ul {
			padding-left: 0;
		}
		h1 {
			//font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			display: inline-block;
			line-height: 40px;
			color: #5a5a5a;
			font-size: 1.90em;
			font-weight: 300;
			margin-bottom: 0;
			span {
				color: #777;
			}
		}
		p {
			font-size: 21px;
			#color: #5a5a5a;
			}
		li {
			display: inline-block;
			color: rgb(0, 0, 0);
			background: rgb(255, 255, 255);
			border: 1px solid #000;
			padding: 8px;
			text-transform: uppercase;
			transition: 0.4s all ease;
			&:hover {
				background: $mainOrange;
				color: #fff;
			}
		}
		.button {
			width: 180px;
			background: $mainOrange;
			color: #fff;
			cursor: pointer;
			text-align: center;	
			transition: all 0.4s ease;
				a {
					text-transform: uppercase;
					width: 100%;
					height: 100%;
					color: #fff;
					display: block;
					padding: 10px;
					
				}
				&:hover {
					background: #343434;
				}
		}
		.special {
			display: inline-block;
			span {
				text-transform: uppercase;
				width: 100%;
				height: 100%;
				color: #fff;
				display: block;
				padding: 10px;
			}
		}
}

.side.one {
	text-align: center;
}

// ==================================
// FOOTER SECTION #FOOTER
// ==================================

#footer {
	background-color: #343434;
	clear: both;
	overflow: auto;
	position: relative;
	padding: 20px 0;
}

.email-wrap {
	width: 100%; 
	float: left;
	text-align: center;
	padding-top: 10px;
}

.email {
	width: auto;
	font-size: 1.0em;
	margin: 0;
	text-align: center;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	a {
		color: $mainOrange;
		font-weight: 200;
	}
}

.email:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.email:hover:after {
	width: 100%;
	background: #fff;
}

ul.social-footer {
	padding-left: 0;
	width: 100%;
	
	margin: 0;
	text-align: center;
	li {
		display: inline-block;
		list-style-type: none;
		padding: 0 10px;
		color: #fff;
		a {
			color: #fff;
			&:hover {
				color: $mainOrange;
			}
		}
	}
}

.maste {
	width: 100%;
	text-align: center;
	background: #2C2C2C;
	color: #fff;
	overflow: auto;
	font-size: 0.7em;
}


// ==========================================================================


@media (max-width: 1000px) {
	.side img {
		width: 90%;
	}
}

@media (max-width: 1090px) {
	.info {
		margin-left: 0;
		width: 65%;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 800px) {


//PORTFOLIO LAYOUT
	.side {
		width: 100%;
		margin: 0;
		text-align: center;
		li {
			margin-bottom: 5px;
		}
		h2 {
			margin-top: 0;
		}
		img {
			width: 55%;
		}
	}

	.alt {
		display: none;
	}

	.secret {
		display: block;
	}

	.button {
		margin: 0 auto;
	}

	.info {
		width: 100%;
		padding: 0;
	}
	.me-pic {
		text-align: center;
		width: 100%;
		float: none;
		img {
			max-width: 100%;
			width: 50%;
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.nav ul {
		width: 80%;
		text-align: right;
		padding-right: 5px;
	}
}

@media (min-width: 541px) and (max-width: 2000px) {
	.nav ul {
		display: block !important;
	}
}

/* Landscape phones and down */
@media (max-width: 540px) {

//WELCOME PAGE

	.intro-wrap {
		padding-left: 10px;
	}

	.page-down {
		display: none;
	}

//MENU BAR
	.nav ul {
		width: 100%;
		padding: 0;
		text-align: center;
		float: none;
		display: none;
		background-color: #fff;
		margin-bottom: 0 !important;
		margin-top: 50px;
		li {
			display: block;
			font-size: 1.35em;
			border-top: 2px solid #343434;
			padding: 10px 0;
		}
		h3 {
			width: auto;
		}
		a {
			color: #343434;
			display: block;
			width: 100%;
		}
	}
	.mobile-menu  {
		display: block;
		text-align: right;
		color: #fff;
		font-size: 40px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		cursor: pointer;
	}

	.burger,
	.burger:before,
	.burger:after {
	  position: absolute;
	  top: 28px;
	  right: 18px;
	  width: 24px;
	  height: 4px;
	  background: #fff;
	  cursor: pointer;
	  -webkit-transition: background 0.3s, -webkit-transform 0.3s, top 0.3s;
	}

	.burger:before {
	  top: -8px;
	  left: 0;
	  content: "";
	}

	.burger:after {
	  top: 8px;
	  left: 0;
	  content: "";
	}

	.open .burger {
	  background: transparent;
	}

	.open .burger:before {
	  top: 0;
	  -webkit-transform: rotate3d(0, 0, 1, -45deg);
	}

	.open .burger:after {
	  top: 0;
	  -webkit-transform: rotate3d(0, 0, 1, 45deg);
	}


//ABOUT LAYOUT
	.info {
		width: 100%;
		padding: 0;
		margin: 0;
		a {
			width: 100%;
			text-align: center;
		}
	}

	.me-pic {
		width: 100%;
		img {
			width: 70%;
		}
	}

	.media {
		display: none;
	}

//PORTFOLIO LAYOUT

	.button {
		margin: 0 auto;
	}
	.side .button {
		width: 100%;
	}
	.group {
		padding: 25px 0;
	}

}